.entityform {
  margin-bottom: 10px !important;
}
.entityform input {
  width: 100%;
}
.entityform .form-radio {
  width: auto;
}
.entityform .field-type-text,
.entityform .form-type-select {
  width: 50%;
  margin: 0px;
  float: left;
}
@media (max-width: 979px) {
  .entityform .field-type-text,
  .entityform .form-type-select {
    width: 100%;
  }
}
.entityform .field-type-text .control-label,
.entityform .form-type-select .control-label {
  float: left;
  width: 30%;
  padding-right: 10px;
}
.entityform .field-type-text .controls,
.entityform .form-type-select .controls {
  width: 65%;
  float: left;
}
.entityform .field-type-text-long {
  width: 100%;
  clear: left;
}
.entityform .control-group {
  margin-bottom: 0px;
}
.entityform .control-group.form-type-radios {
  overflow: visible;
}
.entityform .submissions-link {
  margin-bottom: 10px;
}
.entityform .form-actions {
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  background-color: #f5f5f5;
}
.entitytype-product_enquiry_cloned_-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  overflow: hidden;
}
.entitytype-product_enquiry_cloned_-form .field-type-text {
  width: 100%;
}
.entitytype-product_enquiry_cloned_-form h2 {
  display: none;
}
@media (max-width: 550px) {
  .entitytype-product_enquiry_cloned_-form {
    width: 80%;
  }
}
.comment-form {
  position: relative;
}
.comment-form .control-label {
  float: left;
  width: 10%;
}
.comment-form .form-textarea-wrapper {
  width: 90%;
  float: left;
}
.sharethis-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}
html.js input.form-autocomplete {
  background-position: 100% 9px !important;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -16px !important;
}
.view-id-entityform_general_contact h2 {
  display: none;
}
.entityform.form-type-select {
  overflow: inherit !important;
}
