

/*.waveupper{
display:none;
} */


#edit-search-api-views-fulltext{

	width:200px;
	height:20px !important;
	overflow:hidden;

}

.view-product-menu-grid li,.view-industry-menu-grid li{

	width:180px !important;
	float:left !important;
}



.primary-nav{
 z-index:12;

}
.dropdown-menu{

z-index:10000 !important;
position:absolute;

}


.secondary-nav {

	position:relative;
	z-index:10 !important;

}

.dropdown-menu .view-header {


	z-index:1000;
}


.carousel-container{

	z-index:8;
}

.navbar-inner .container{

	 /* background-image:url('../images/black-trans.png'); */
}

.primary-nav{

	max-height:45px;
}

.widgetblock .panel-panel.middle, .widgetblock .panel-panel.right{

	margin-left:1% !important;
}

 .region-wave-title{

 	line-height:normal !important;
 }